html, body {
    height: 100%;
    width: 100%;
  }
  main{
      display: flex;
      flex-direction: column;
  }
  main h1{
      font-size: 15rem;
      text-align: center;
      margin: 2px;
  }
  main div{
      display: flex;
      justify-content: center;
  }
  main input[type="button"]{
  display: flex;
  margin: 20px;
  padding: 10px 20px;
  font-size: 2rem;
  background-color: royalblue;
  color: white;
  outline: none;
  border: none;
  border-radius: 10px;
  }
  